<!DOCTYPE html>
<html ng-app='MiaouMiam'>
<head>
    <title>MiaouMiam</title>
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/slider.css'/>
</head>
<body ng-controller='HomeController'>
<div class="container-fluid">
    <div class="row">
        <div class="page-header text-center">
            <h1>MiaouMiam</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12">
            <button class='btn btn-primary btn-lg' ng-show='!feeding' ng-click='feed()'>Feed</button>
            <span ng-show='feeding'><i class='fa fa-cog fa-spin fa-4x'></i></span>
        </div>
        <div class="col-sm-12 col-md-offset-3 col-md-6">
            <div ng-disabled='feeding' ovts-slider='' model='slider.val' ovts-slider-options='{label: "Quantity", min: 1, max: 20, step: 1}'></div>
        </div>
    </div>
</div>
<script src='/js/angular.js'></script>
<script src='/js/slider.js'></script>
<script src='/js/app.js'></script>
<script src='/js/controllers/HomeController.js'></script>
</body>
</html>
