<!DOCTYPE html>
<html ng-app='MiaouMiam'>
  <head>
    <title>MiaouMiam</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
  </head>
  <body ng-controller='HomeController'>
    <h1>MiaouMiam</h1>
    <button ng-disabled='feeding' ng-click='feed()'>
        <span ng-show='!feeding'>Feed</span>
        <span ng-show='feeding'><i class='fa fa-cog fa-spin fa-4x'></i></span>
    </button>
  <script src='/js/angular.js'></script>
  <script src='/js/app.js'></script>
  <script src='/js/controllers/HomeController.js'></script>
  </body>
</html>
