<!DOCTYPE html>
<html ng-app='MiaouMiam'>
<head>
    <title>MiaouMiam</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/slider.css'/>
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/angulartoastr.min.css'/>
</head>
<body ng-controller='HomeController'>
<div class="container text-center">
    <div class="row">
        <div class="page-header">
            <h1>MiaouMiam</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button class='btn btn-primary btn-lg' ng-show='!feeding' ng-click='feed()'>Feed</button>
            <span ng-show='feeding'><i class='fa fa-cog fa-spin fa-4x'></i></span>
        </div>
        <div class="col-sm-12 col-md-offset-3 col-md-6">
            <slider ng-model="sliderValue" floor="1" ceiling="10" step="1">
            </slider>
        </div>
    </div>
    <hr />
    <div class="row">
        <h2>Schedule</h2>
        <form>
            <div class="col-sm-12">
                <div class="datepickerOuter">
                    <timepicker class="datepickerInner" ng-model='time' ng-change="updateTime()" show-meridian="ismeridian"></timepicker>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="date.monday" btn-checkbox="'M'">M</label>
                    <label class="btn btn-primary" ng-model="date.tuesday" btn-checkbox="'T'">T</label>
                    <label class="btn btn-primary" ng-model="date.wednesday" btn-checkbox="'W'">W</label>
                    <label class="btn btn-primary" ng-model="date.thursday" btn-checkbox="'T'">T</label>
                    <label class="btn btn-primary" ng-model="date.friday" btn-checkbox="'F'">F</label>
                    <label class="btn btn-primary" ng-model="date.satursday" btn-checkbox="'S'">S</label>
                    <label class="btn btn-primary" ng-model="date.sunday" btn-checkbox="'S'">S</label>
                </div>
                <label class="btn btn-success" ng-click="addSchedule()">
                    <i ng-show='!savingCfg' class="fa fa-save"></i>
                    <i ng-show='savingCfg' class="fa fa-refresh fa-spin"></i>
                </label>
            </div>
        </form>
    </div>
    <hr />
    <div class="row" ng-show="config.scheduled.length">
        <h2>Scheduled</h2>
        <div class="col-sm-12 col-md-offset-3 col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Time</th>
                        <th class="text-center">Day(s)</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tr ng-repeat="scheduled in config.scheduled">
                    <td>
                        <span>{{scheduled.quantity}}</span>
                    </td>
                    <td>
                        <span>{{scheduled.date.hours}} : {{scheduled.date.minutes}}</span>
                    </td>
                    <td>
                        <div class="btn-group">
                            <label class="btn btn-sm btn-primary" ng-class="{active: scheduled.date.monday}">M</label>
                            <label class="btn btn-sm btn-primary" ng-class="{active: scheduled.date.tuesday}">T</label>
                            <label class="btn btn-sm btn-primary" ng-class="{active: scheduled.date.wednesday}">W</label>
                            <label class="btn btn-sm btn-primary" ng-class="{active: scheduled.date.thursday}">T</label>
                            <label class="btn btn-sm btn-primary" ng-class="{active: scheduled.date.friday}">F</label>
                            <label class="btn btn-sm btn-primary" ng-class="{active: scheduled.date.satursday}">S</label>
                            <label class="btn btn-sm btn-primary" ng-class="{active: scheduled.date.sunday}">S</label>
                        </div>
                    </td>
                    <td>
                        <label class="btn btn-sm btn-danger" ng-click="removeSchedule($index)">
                        <i ng-show='!savingCfg' class="fa fa-remove"></i>
                        <i ng-show='savingCfg' class="fa fa-refresh fa-spin"></i>
                        </label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<toaster-container></toaster-container>


<script src='/js/angular.js'></script>
<script src='/js/angular-touch.min.js'></script>
<script src='/js/angularui.min.js'></script>
<script src='/js/angular-animate.min.js'></script>
<script src='/js/angulartoastr.min.js'></script>
<script src='/js/angular-slider.min.js'></script>
<script src='/js/app.js'></script>
<script src='/js/controllers/HomeController.js'></script>

</body>
</html>
